<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360206178275-euht05ojmr3oupd3cd5g0mb4ef1lhaih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360206178275-euht05ojmr3oupd3cd5g0mb4ef1lhaih</string>
	<key>API_KEY</key>
	<string>AIzaSyDuPoImUcKZzXgX_OggrexXzx5HQcZ4YhE</string>
	<key>GCM_SENDER_ID</key>
	<string>360206178275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sarmadi</string>
	<key>PROJECT_ID</key>
	<string>sarmadi-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>sarmadi-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360206178275:ios:8cb4e9f3f4ed1ef440f2d6</string>
</dict>
</plist>